.profilepic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#frederik {
    border: solid 5px deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-bottom: none;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;;
}

h1 {
    color: ivory;
}

h2 {
    color: ivory;
}

a {
    color: ivory;
}

p {
    text-decoration: underline;
}